/*
  Author: Matt Pahuta
  Date: June 2025
*/
@font-face {
  font-family: 'DM Sans';
  font-weight: 400 500;
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400 500;
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

:root {
  /* Fonts */
  --ff-primary: 'DM Sans', sans-serif;
  /* Font Sizes */
  --fs-400: 1rem;
  --fs-450: 1.125rem; /* 18px */
  --fs-500: 1.5rem; 
  --fs-550: 1.75rem; 
  --fs-600: 2rem; 
  --fs-650: 2.5rem;
  --fs-700: 3rem; /* 48px */
  --fs-800: 3.75rem; /* 60px */
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);
  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

@layer reset {
  /* Custom Variables */
  :root {
    /* Fonts */

    /* Font Sizes */

    /* Colors */

    /* Border radius */
    --br-soft: 1rem;
    --br-round: 50%;
  }

  /* RESET */
  /* Josh Comeau custom css reset */
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  10. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  html {
    font-family: var(--ff-primary);
  }

  body {
    margin-inline: var(--spacing-200);
    margin-block: var(--spacing-400);
    font-size: var(--fs-450);
    line-height: 1.4;
    background-color: var(--clr-off-white);
    color: var(--clr-black);
  }

  h1,
  h2 {
    font-size: var(--heading-font-size, var(--fs-500));
    font-weight: 500;
    line-height: 1.1;
    text-wrap: balance;
    span {
      color: var(--heading-accent-color, var(--clr-black));
    }
  }

}

@layer layout {
  .bento-grid {
    display: grid;
    gap: var(--spacing-400);
  }

  /* Default Bento card styles */
  .bento-grid__card {
    /* padding: var(--bento-card-padding, var(--spacing-300)); */
    padding-inline: var(--bento-card-padding-inline, var(--spacing-200));
    padding-blocK: var(--bento-card-padding-block, var(--spacing-200));
    color: var(--bento-card-color, var(--clr-black));
    background-color: var(--bento-card-bg, var(--clr-white));
    border-radius: 10px;
    display: grid;
    gap: var(--bento-card-gap, var(--spacing-300));
    align-content: var(--bento-card-vertical-align, start);
    justify-items: var(--bento-card-horizontal-align, start);
    text-align: var(--bento-card-horizontal-align, start);
  }

  .bento-grid__card img {
    width: var(--bento-card-image-width, 100%);
    order: var(--bento-card-image-order);
  }

  /* Customized Bento Card Styles */
  /* Get the first card in the bento grid */
  .bento-grid > :nth-child(1) {
    --bento-card-padding-inline: var(--spacing-400);
    --bento-card-padding-block: var(--spacing-500);
    --heading-font-size: var(--fs-650);
    --heading-accent-color: var(--clr-yellow-500);
    --bento-card-color: var(--clr-white);
    --bento-card-bg: var(--clr-purple-500);
    --bento-card-horizontal-align: center;
    --bento-card-image-width: 192px;

    .bento-grid__card-content {
      display: grid;
      gap: var(--spacing-100);
      justify-items: var(--bento-card-horizontal-align);
    }
  }

  .bento-grid > :nth-child(2) {
    --bento-card-image-order: -1;

    /* Address flawed image asset */
    > img {
      filter: drop-shadow(0 0 0.25rem hsla(0, 2%, 16%, 0.25));
      border-radius: 100vw;
    }
  }

  /* Note: video tutorial timestamp: 23:16 */
}

@layer utilities {
  .grid {
    display: grid;
  }
}