/*
  Author: Matt Pahuta
  Date: June 2025
*/
@font-face {
  font-family: 'DM Sans';
  font-weight: 400 500;
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400 500;
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}

:root {
  /* Fonts */
  --ff-primary: 'DM Sans', sans-serif;
  /* Font Sizes */
  --fs-reg: 1.125rem; /* 18px */
  --fs-med: 1.625rem; /* 26px */ 
  --fs-lrg: 2rem; /* 32px */
  --fs-xl: 2.875rem; /* 46px */
  @media (width > 37.5rem) {
    --fs-med: 1.75rem; /* 28px */
    --fs-lrg: 2.25rem; /* 36px */
    --fs-xl: 3.375rem; /* 54px */
  }
  @media (width > 60rem) {
    --fs-med: 2rem; /* 32px */
    --fs-lrg: 2.5rem; /* 40px */
    --fs-xl: 3.875rem; /* 62px */
  }


  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);
  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

@layer reset {
  /* Josh Comeau custom css reset */
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }


  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  */ #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  html {
    font-family: var(--ff-primary);
  }

  body {
    margin-inline: var(--spacing-200);
    margin-block: var(--spacing-400);
    font-size: var(--fs-reg);
    line-height: 1.1;
    background-color: var(--clr-off-white);
    color: var(--clr-black);

    @media (width > 37.5rem) {
      margin-inline: var(--spacing-500);
    }

  }


  h1,
  h2 {
    font-size: var(--heading-font-size, var(--fs-med));
    font-weight: 500;
    line-height: 90%;

    span {
      display: var(--heading-span-display, inline);
      color: var(--heading-span-color, var(--clr-black));
      font-size: var(--heading-span-font-size, inherit);
      font-style: var(--heading-span-font-style);
    }
  }

  h2 {
    letter-spacing: -1.5px;
  }

}

@layer layout {
  .bento-grid {
    margin-inline: auto;
    max-inline-size: 1120px;
    display: grid;
    gap: var(--spacing-400);
    grid-template-areas: 
      'card1'
      'card2'
      'card3'
      'card4'
      'card5'
      'card6'
      'card7'
      'card8'
      ;

    @media (width > 37.5rem) {
      grid-template-areas:
        'card1 card1'
        'card2 card3'
        'card4 card4'
        'card5 card5'
        'card6 card6'
        'card7 card8'
      ;
    }

    @media (width > 60rem) {
      grid-template-areas: 
        'card7 card1 card1 card4'
        'card7 card2 card3 card4'
        'card8 card2 card3 card4'
        'card8 card6 card5 card5';
    }
  }

  /* Default Bento card styles */
  .bento-grid__card {
    /* padding: var(--bento-card-padding, var(--spacing-300)); */
    padding-inline: var(
      --bento-card-padding-inline,
      var(--spacing-200)
    );
    padding-block: var(
      --bento-card-padding-block,
      var(--spacing-200)
    );
    color: var(--bento-card-color, var(--clr-black));
    background-color: var(--bento-card-bg, var(--clr-white));
    border-radius: 10px;
    display: grid;
    gap: var(--bento-card-gap, var(--spacing-300));
    /* align-content: var(--bento-card-vertical-align, start); */
    align-items: var(--bento-card-vertical-align, start);
    justify-items: var(--bento-card-horizontal-align, start);
    text-align: var(--bento-card-horizontal-align, start);
    overflow: clip;
  }

  .bento-grid__card img {
    width: var(--bento-card-image-width, 100%);
    order: var(--bento-card-image-order);
  }

  /* Customized Bento Card Styles */
  /* Get the first card in the bento grid */
  .bento-grid > :nth-child(1) {
    --bento-card-padding-inline: var(--spacing-400);
    --bento-card-padding-block: var(--spacing-500);
    --heading-font-size: var(--fs-xl);
    --heading-span-color: var(--clr-yellow-500);
    --bento-card-color: var(--clr-white);
    --bento-card-bg: var(--clr-purple-500);
    --bento-card-horizontal-align: center;
    --bento-card-image-width: 192px;
    grid-area: card1;

    .bento-grid__card-content {
      display: grid;
      gap: var(--spacing-100);
      justify-items: var(--bento-card-horizontal-align);
    }
  }

  .bento-grid > :nth-child(2) {
    --bento-card-image-order: -1;
    --bento-card-gap: var(--spacing-200);

    grid-area: card2;

    /* Address flawed image asset */
    > img {
      filter: drop-shadow(0 0 0.25rem hsla(0, 2%, 16%, 0.25));
      border-radius: 100vw;
    }
  }

  .bento-grid > :nth-child(3) {
    --bento-card-bg: var(--clr-yellow-500);
    grid-area: card3;

    > img {
      --bento-card-image-width: 208px;
      margin-block-end: -36px;
    }
  }

  .bento-grid > :nth-child(4) {
    --bento-card-padding-block: var(--spacing-400);
    --bento-card-bg: var(--clr-purple-100);
    --bento-card-horizontal-align: center;
    grid-area: card4;
  }

  .bento-grid > :nth-child(5) {
    --bento-card-padding-inline: var(--spacing-300);
    --bento-card-padding-block: var(--spacing-300);
    --bento-card-bg: var(--clr-purple-500);
    --bento-card-color: var(--clr-white);
    --bento-card-horizontal-align: center;
    --bento-card-image-width: 228px;
    --heading-font-size: var(--fs-lrg);
    grid-area: card5;

    @media (width > 60rem) {
      /* --bento-card-horizontal-align: start; */
      --bento-card-vertical-align: center;
      --bento-card-gap: var(--spacing-100);
      grid-template-columns: 1fr 1fr;
    }
  }

  .bento-grid > :nth-child(6) {
    --bento-card-padding-inline: var(--spacing-300);
    --bento-card-padding-block: var(--spacing-300);
    --bento-card-image-width: 180px;
    --heading-font-size: var(--fs-reg);
    --heading-span-font-size: var(--fs-xl);
    --heading-span-display: block;
    grid-area: card6;
  }

  .bento-grid > :nth-child(7) {
    --bento-card-padding-inline: var(--spacing-400);
    --bento-card-padding-block: var(--spacing-400);
    --bento-card-bg: var(--clr-yellow-100);
    --bento-card-image-width: 190px;
    --heading-font-size: var(--fs-lrg);
    --heading-span-font-style: italic;
    --heading-span-color: var(--clr-purple-500);
    grid-area: card7;
  }

  .bento-grid > :nth-child(8) {
    --bento-card-padding-inline: var(--spacing-300);
    --bento-card-padding-block: var(--spacing-300);
    --bento-card-bg: var(--clr-yellow-500);
    --bento-card-image-width: 220px;
    --heading-font-size: var(--fs-lrg);
    grid-area: card8;
  }

  /* Note: video tutorial timestamp: 43:25 */
}

@layer utilities {
  .grid {
    display: grid;
  }
}
